<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperMarketSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperMarketSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="wrapper">
        @await Html.PartialAsync("_Sidebar")

        <div id="content-wrapper" class="d-flex flex-column">
            <main role="main" class="container-fluid py-3">
                @RenderBody()
            </main>
            <footer role="main" class="sticky-footer bg-white custom-footer">
                <div>
                    <div class="text-center">
                        &copy; 2023 - SuperMarketSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
