@model SuperMarketSystem.ViewModels.AccountViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    var returnUrl = ViewData["ReturnUrl"] as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Login.cshtml.css" />
    <link href="~/css/Identity.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>

<body style="visibility: visible;">
    <div id="main">
        <nav class="navbar">
            <div class="navcontrol">
                <div class="d-flex align-items-center">
                    <a class="nav-brand" href="/Home/Index">
                        <svg class="logo" src="~/logo.png" height="50">
                            <g fill-rule="evenodd">
                                <path d="~/Logo.png">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <div class="title">Đăng Ký</div>
                </div>
            </div>
            <a href="#" class="item" target="_blank" rel="noopener noreferrer">Bạn cần giúp đỡ?</a>
        </nav>
    </div>
    <div class="body">
        <div class="head-shadow">
            <div class="background-color">
                <div class="background-image">
                    <div class="form-size">
                        <div class="space">
                            <div class="column">
                                <form id="form" asp-route"="Account/Register" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.PhoneNumber"></label>
                                                <input asp-for="Input.PhoneNumber" class="form-control" />
                                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Register</button>
                                    <input type="hidden" name="externalLogins" value="true" />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    
                                </form>
                                <div class="col-md-6 col-md-offset-2">
                                    @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                                    {
                                        <section>
                                            <h4>Đăng kí băng google</h4>
                                            <hr />
                                            <form id="external-account" asp-action="ExternalLogin" method="post" class="form-horizontal">
                                                <div>

                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins)
                                                        {
                                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        </section>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2023</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
